@{
    Layout = "EnrollLayout";
    ViewData["Title"] = "Enroll page";
}
@using Basecode.Data.Models
@model RegisterStudent
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Include Bootstrap Datepicker CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<nav >
    <!-- Container wrapper -->
    <div class="container-fluid font-robo">
        <!-- Navbar brand -->       
        <ul style="background-color: #de3f4e;list-style-type: none;margin: 3;padding: 0; overflow: hidden;">
            <li style="float: left;"><a class="active" asp-action="Index" style=" display: block;color: white; text-align: center;padding: 24px 16px; margin-left:50px; text-decoration: none;"><h3 class="title">EBLC Portal</h3></a></li>
        </ul>
    </div>       
</nav>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo mt-1">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form asp-action="RegisterEnrollee" enctype="multipart/form-data" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="FIRST NAME" asp-for="FirstName">
                                <span asp-validation-for="FirstName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="MIDDLE NAME" asp-for="MiddleName">
                                <span asp-validation-for="MiddleName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="LAST NAME" asp-for="LastName">
                                <span asp-validation-for="LastName" style="color:red"></span>
                            </div>
                        </div>                       
                    </div>                   
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input asp-for="Birthday" id="datetimePicker" class="input--style-1" type="text" placeholder="BIRTHDATE">
                                <span asp-validation-for="Birthday" style="color:red"></span>
                                
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select asp-for="sex">
                                        <option value="" disabled="disabled" selected="selected">SEX</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                    <span asp-validation-for="sex" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                 <div class="rs-select2 js-select-simple select--no-search">
                                    <select asp-for="GradeEnrolled">
                                        <option value="" disabled="disabled" selected="selected">GRADE TO ENROLL</option>
                                        <option value="Nursery">Nursery</option>
                                        <option value="Kinder 1">Kinder 1</option>
                                        <option value="Kinder 2">Kinder 2</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                    <span asp-validation-for="GradeEnrolled" style="color:red"></span>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="input--style-1"><input class="input--style-1" type="file" placeholder="STUDENT PICTURE" accept="image/*" asp-for="ProfilePicRecieve">STUDENT PICTURE</label>
                                <span asp-validation-for="ProfilePicRecieve" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="input--style-1"><input class="input--style-1" type="file" placeholder="STUDENT PICTURE" accept=".pdf" asp-for="BirthCertificateFile">BIRTH CERTIFICATE</label>
                                <span asp-validation-for="BirthCertificateFile" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="input--style-1"><input class="input--style-1" type="file" placeholder="STUDENT PICTURE" accept=".pdf" asp-for="TORFile">FORM-137</label>
                                <span asp-validation-for="TORFile" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="input--style-1"><input class="input--style-1" type="file" placeholder="STUDENT PICTURE" accept=".pdf"  asp-for="CGMFile">CERTIFICATE OF GOOD MORAL</label>
                                <span asp-validation-for="CGMFile" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <h3 class="title">Guardian Info</h3>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="GUARDIAN FIRST NAME" asp-for="ParentFirstName">
                                <span asp-validation-for="ParentFirstName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="GUARDIAN MIDDLE NAME" asp-for="ParentMiddleName">
                                <span asp-validation-for="ParentMiddleName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="GUARDIAN LAST NAME" asp-for="ParentLastName">
                                <span asp-validation-for="ParentLastName" style="color:red"></span>
                            </div>
                        </div>
                    </div>                  
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" id="datetimePickerParent" type="date" placeholder="GUARDIANS BIRTHDATE" asp-for="ParentBirthday">
                              
                                <span asp-validation-for="ParentBirthday" style="color:red"></span>
                               
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select asp-for="Parentsex">
                                        <option value="" disabled="disabled" selected="selected">SEX</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                    <span asp-validation-for="Parentsex" style="color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="ADDRESS" asp-for="Address">
                        <span asp-validation-for="Address" style="color:red"></span>
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="EMAIL ADDRESS" asp-for="Email">
                        <span asp-validation-for="Email" style="color:red"></span>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="PHONE NUMBER" asp-for="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    flatpickr("#datetimePicker", {
        enableTime: false, // Disable time picker
        noCalendar: false, // Enable calendar (date picker)
        allowInput: true, // Enable keyboard input
        dateFormat: "m/d/Y", // Specify the date format (e.g., "Y-m-d" for "2024-05-16")
        defaultDate: null, // Optional: set default date, remove this line if not needed
        onChange: function (selectedDates, dateStr, instance) {
            console.log(dateStr); // Handle formatted date string
        }
    });
</script>
<script>
    flatpickr("#datetimePickerParent", {
        enableTime: false, // Disable time picker
        noCalendar: false, // Enable calendar (date picker)
        allowInput: true, // Enable keyboard input
        dateFormat: "m/d/Y", // Specify the date format (e.g., "Y-m-d" for "2024-05-16")
        defaultDate: null, // Optional: set default date, remove this line if not needed
        onChange: function (selectedDates, dateStr, instance) {
            console.log(dateStr); // Handle formatted date string
        }
    });
</script>
<!-- Jquery JS-->
<script src="/colorlib-regform-1/vendor/jquery/jquery.min.js"></script>
<script>
    $('.dateselect').datepicker({
        format: 'mm/dd/yyyy',
        // startDate: '-3d'
    });
</script>
<!-- Vendor JS-->
<script src="/colorlib-regform-1/vendor/select2/select2.min.js"></script>
<script src="/colorlib-regform-1/vendor/datepicker/moment.min.js"></script>
<script src="/colorlib-regform-1/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/colorlib-regform-1/js/global.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}