@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

#table tbody tr:hover {
    cursor: pointer;
}
.h2 {
    color: #444;
    font-family: 'PT Sans', sans-serif
}

thead {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666
}

img {
    width: 40px;
    height: 40px
}

.name {
    display: inline-block
}

.bg-blue {
    background-color: #EBF5FB;
    border-radius: 8px
}

.fa-check,
.fa-minus {
    color: blue
}

.bg-blue:hover {
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer
}

    .bg-blue:hover .fa-check,
    .bg-blue:hover .fa-minus {
        background-color: #3e64ff;
        color: #eee
    }

.table thead th,
.table td {
    border: none
}


#spacing-row {
    height: 10px
}
@media(max-width:575px) {
    .container {
        width: 100%;
        padding: 20px 10px
    }
}
.pagination > .active > a {
    color: white;
    background-color: #b12222 !Important;
    border: solid 1px #b12222 !Important;
}