@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
}
<div class="wrapper">
    @await Html.PartialAsync("./_TeacherSideBar")
    <div class="main p-3">

    </div>
</div>
