@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/NoLayout.cshtml";
}
<link rel="stylesheet" href="/css/TeachersPage.css" />
<div class="wrapper">
    @await Html.PartialAsync("./_TeacherSideBar")
    <div class="main p-5">
        <p class="lead">Your Class</p>
        <div class="tab">
            <button class="tablinks" onclick="tabs(event, 'London')" id="defaultOpen">London</button>
            <button class="tablinks" onclick="tabs(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="tabs(event, 'Tokyo')">Tokyo</button>
        </div>

        <div id="London" class="tabcontent">            
            <div class="table-responsive">

                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Students</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-blue">
                            <td class="pt-2">                                
                                <div class="pl-lg-5 pl-md-3 pl-1 name">Emilia Kollette</div>
                            </td>                            
                        </tr>
                        <tr id="spacing-row">
                            <td></td>
                        </tr>
                        <tr class="bg-blue">
                            <td class="pt-2">                               
                                <div class="pl-lg-5 pl-md-3 pl-1 name">Anny Adams</div>
                            </td>                            
                        </tr>
                        <tr id="spacing-row">
                            <td></td>
                        </tr>                       
                    </tbody>
                </table>                
            </div>
        </div>

        <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>

        <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>
</div>
<script src="/js/Tables.js"></script>