@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/NoLayout.cshtml";
}

@using Basecode.Data.Models
@model RegisterStudent
<div class="wrapper">
    @await Html.PartialAsync("./_RegistrarSideBar")
    <div class="main">
        <div class="container py-3 min-vh-100 d-flex flex-column">
            <div class="card shadow rounded-3 my-auto">
                <div class="card-header p-3 h4">
                    Enter Student Details
                </div>
                <div class="card-body p-4">
                    <form role="form" class="row">
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="FirstName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Middle Name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="MiddleName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="LastName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">Birthday</label>
                            <input type="date" class="form-control" id="inputEmail4" placeholder="" asp-for="Birthday">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputState">Sex</label>
                            <select id="inputState" class="form-control" asp-for="sex">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">Grade to Enroll</label>
                            <input type="number" class="form-control" id="inputEmail4" placeholder="" asp-for="GradeEnrolled">
                        </div>
                        <h3 class="mt-4">Guardian Information</h3>
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="ParentFirstName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Middle Name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="ParentMiddleName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="ParentLastName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">Birthday</label>
                            <input type="date" class="form-control" id="inputEmail4" placeholder="" asp-for="ParentBirthday">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputEmail4">Phone Number</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="PhoneNumber">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Address</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="Address">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="" asp-for="Email">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="inputPassword4">Sex</label>
                            <select id="inputState" class="form-control" asp-for="Parentsex">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <button type="submit" class="btn btn-warning float-end mt-2" for="form-group-input">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       @*  <form asp-action="AddNewStudent">
            <h2>Student Information</h2>
            <div class="row">
                <div class="form-group col">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="FirstName">
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Middle Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="MiddleName">
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Last Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="LastName">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="inputEmail4">Birthday</label>
                    <input type="date" class="form-control" id="inputEmail4" placeholder="" asp-for="Birthday">
                </div>
                <div class="form-group col">
                    <label for="inputState">Sex</label>
                    <select id="inputState" class="form-control" asp-for="sex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="inputEmail4">Grade to Enroll</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="" asp-for="GradeEnrolled">
                </div>
            </div>
            <h2 class="mt-4">Guardian Information</h2>
            <div class="row">
                <div class="form-group col">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="ParentFirstName">
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Middle Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="ParentMiddleName">
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Last Name</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="" asp-for="ParentLastName">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="inputEmail4">Phone Number</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="PhoneNumber">
                </div>
                <div class="form-group col">
                    <label for="inputEmail4">Birthday</label>
                    <input type="date" class="form-control" id="inputEmail4" placeholder="" asp-for="ParentBirthday">
                </div>
                <div class="form-group col">
                    <label for="inputPassword4">Address</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="" asp-for="Address">
                </div>                           
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="inputPassword4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="" asp-for="Email">
                </div>    
                <div class="form-group col">
                    <label for="inputPassword4">Sex</label>
                    <select id="inputState" class="form-control" asp-for="Parentsex">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-outline-danger">Submit</button>
                </div>              
            </div>           
        </form> *@
    </div>
</div>
