@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update Behevioural Statement";
    Layout = "~/Views/Shared/NoLayout.cshtml";
}
@using Basecode.Data.ViewModels
@model Learner_Values_ViewModel
<div class="wrapper">
    @await Html.PartialAsync("./_RegistrarSideBar")
    <div class="main p-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a asp-action="index">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a asp-action="ViewLearnersValues">Learners Values</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a>Update Learners Values</a></li>
            </ol>
        </nav>
        <form asp-action="UpdateBeheviouralStatement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <input type="hidden" value="@Model.Id" asp-for="Id"/>
                <select class="form-select" aria-label="Default select example" asp-for="Core_Values">
                    <option selected>Do not click if you dont want to change the Core Values</option>
                    @foreach (var core_value in Model.CoreValues)
                    {
                        <option value="@core_value.Id">@core_value.core_Values</option>
                    }
                </select>
                <span asp-validation-for="Core_Values" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Behavioral Statement</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" asp-for="Behavioural_Statement"></textarea>
                <span asp-validation-for="Behavioural_Statement" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-danger">Update Behavioural Statement</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}